<h1>{{header}}</h1>

{{#if body}}
  <p>{{body}}</p>
{{/if}}

{{#if hasButton}}
  <button {{action buttonAction}}>{{buttonLabel}}</button>
{{else if hasRouteButton}}
  <button {{action (route-action buttonRouteAction)}}>{{buttonLabel}}</button>
{{/if}}
