<h1>{{header}}</h1>
<ul>
  {{#if loaded}}
    {{#each sortedServices as |service|}}
      {{picker-section-li service=service}}
    {{/each}}
  {{else}}
    {{repeat-element 'li' 7}}
  {{/if}}
</ul>
<button {{action 'submit'}} class={{if hasSelected '' 'hidden'}} onclick={{action 'trackEvent' 'Submitted picker' properties}}>Continue</button>