{{#if source.logoGlyphUrl}}<img src="{{source.logoGlyphUrl}}" />{{/if}}
{{#if source.itemStorageEnabled}}
  {{#if sessionUserHasSourceAuth}}
    {{source.name}} <button {{action 'storeAllItems'}}>Sync All</button> <button {{action 'deleteUserSourceAuth'}}>Disconnect</button>
  {{else}}
    <a href="{{source.authUrl}}">{{source.name}}</a>
  {{/if}}
{{else}}
  {{source.name}}
{{/if}}