<ul>
  {{#each sortedStorages as |storage|}}
    <li>
      {{#if storage.logoGlyphUrl}}<img src="{{storage.logoGlyphUrl}}" />{{/if}}
      {{#if storage.itemStorageEnabled}}
        <a href="{{storage.authUrl}}">{{storage.name}}</a>
      {{else}}
        {{storage.name}}
      {{/if}}
    </li>
  {{/each}}
</ul>