{{#if hasUserAuth}}
  {{dashboard-section}}
{{else if sessions.createdNotificationRequests}}
  <section class="cart loaded">
    <h1>We’ll be in touch</h1>
    <p>Expect to receive emails as soon as we roll out support.</p>
    <p>We appreciate your interest!</p>
  </section>
{{else if sessions.noCreatedNotificationRequests}}
  <section class="cart loaded">
    <h1>Sorry we couldn’t be more helpful!</h1>
    <p>View the options again to see if there are others that might interest you.</p>
    {{#link-to 'storages-picker' class="subtle"}}View options{{/link-to}}
  </section>
{{else}}
  {{intro-section}}
{{/if}}